
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Hub®️</title>
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="cursor"></div>

    <!-- NavBar -->
     <div id="nav">
        <img src="https://tse3.mm.bing.net/th?id=OIP.ZQ-V2kP7KP1fMaJYdYjgtAHaGB&pid=Api&P=0&h=180" alt="">

        <div id="nav-part2">
            <a href="{% url 'mercedes' %}">Mercedes</a>
            <a href="{% url 'lamborgini' %}">Lamborgini</a>
            <a href="{% url 'ferrari' %}">Ferrari</a>
            <a href="{% url 'index' %}">BMW</a>
        </div>
        

        <div id="nav-part3">
            <div id="circle"></div>
        </div>
     </div>

    <!-- purple -->
    <div id="purple"></div>
    
    
     <div id="main">

        <!-- Page1 -->
        <div id="page1">
            <h1>I don't sell cars</h1>
            <h2>I sell Engine's</h2>
            <video autoplay muted loop src="{% static 'videos/ferrari.mp4' %}"></video>
        </div>


        <div id="page2">
            <h1>Welcome to Ferrari!</h1>
                <div id="page2-container">
                    <div id="page2-left">
                        <h2>A CAR
                            WITH POWERFUL
                            ENGINE.
                        </h2>
                    </div>

                    <div id="page2-right">
                        <p>With a blistering 0-100 kmph time of just 2.5 seconds, the Ferrari SF90 Stradale is a technological marvel. This hybrid hypercar seamlessly blends raw power with cutting-edge efficiency, delivering an unparalleled driving experience that redefines performance and luxury.</p>
                    </div>
                </div>
        </div>

        <!-- Page 3 -->
         <div id="page3">
            <h1>Ferrari SF90 </h1>
            <div id="page3-part1">
                <img src="https://tse1.mm.bing.net/th?id=OIP.Qk5soKioIjPEV1bXuK8lBwHaE8&pid=Api&P=0&h=180" alt="">

                <video autoplay loop muted src="{% static 'videos/introducing-the-ferrari.mp4' %}"></video>
            </div>
         </div>

        <!-- Page 4 -->
         <div id="page4">

            <div id="elem">
                <img src="https://s.yimg.com/fz/api/res/1.2/h8lS45xuQGoujxanTBLlqA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MzMy/https://s.yimg.com/zb/imgv1/64d3604e-2137-3aed-9af5-176ce346a39f/t_500x300" alt="">

                <div id="text-div">
                    <h1>Luxurious</h1>
                    <h1>Luxurious</h1>
                </div>

                <img src="https://tse2.mm.bing.net/th?id=OIP.fVPyie6EkQFOkOdUx349wgHaEK&pid=Api&P=0&h=180" alt="">
            </div>

            <div id="elem">
                <img src="https://s.yimg.com/fz/api/res/1.2/h8lS45xuQGoujxanTBLlqA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MzMy/https://s.yimg.com/zb/imgv1/64d3604e-2137-3aed-9af5-176ce346a39f/t_500x300" alt="">

                <div id="text-div">
                    <h1>Powerful</h1>
                    <h1>Powerful</h1>
                </div>

                <img src="https://tse2.mm.bing.net/th?id=OIP.fVPyie6EkQFOkOdUx349wgHaEK&pid=Api&P=0&h=180" alt="">
            </div>

            <div id="elem">
                <img src="https://s.yimg.com/fz/api/res/1.2/h8lS45xuQGoujxanTBLlqA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MzMy/https://s.yimg.com/zb/imgv1/64d3604e-2137-3aed-9af5-176ce346a39f/t_500x300" alt="">

                <div id="text-div">
                    <h1>Dynamic</h1>
                    <h1>Dynamic</h1>
                </div>

                <img src="https://tse2.mm.bing.net/th?id=OIP.fVPyie6EkQFOkOdUx349wgHaEK&pid=Api&P=0&h=180" alt="">
            </div>

            <div id="elem">
                <img src="https://s.yimg.com/fz/api/res/1.2/h8lS45xuQGoujxanTBLlqA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MzMy/https://s.yimg.com/zb/imgv1/64d3604e-2137-3aed-9af5-176ce346a39f/t_500x300" alt="">

                <div id="text-div">
                    <h1>Prestigious</h1>
                    <h1>Prestigious</h1>
                </div>

                <img src="https://tse2.mm.bing.net/th?id=OIP.fVPyie6EkQFOkOdUx349wgHaEK&pid=Api&P=0&h=180" alt="">
            </div>


         </div> 

         <footer>

         </footer>

     </div>

     <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/script.js' %}"></script>

</body>
</html>